<form method="POST" action="/users">
  <h3>Please Fill Out The Following Fields!</h3>
  <label for="name">Name:</label>
  <input type="text" name="name"><br>
  <label for="email">Email:</label>
  <input type="text" name="email"><br>
  <label for="password">Password:</label>
  <input type="password" name="password"><br>
  <input type="submit" value="Sign Up!">
</form>