<h3>Expense Edit Page</h3>

<form method="POST" action="/expenses/<%= @expense.id %>">
  <input type="hidden" name="_method" value="patch">
  <label for="category">Expense:</label>
  <textarea name="category" cols="30"><%= @expense.category %></textarea><br>
  <input type="submit" value="Edit Expense">
</form>