<h3>Expense Edit Page</h3>

<form method="POST" action="/expenses/<%= @expense.id %>">
  <input type="hidden" name="_method" value="patch">
  <label for="category">Expense:</label>
  <input type="text" name="category" value="<%= @expense.category %>">
  <label for="cost">$</label>
  <input type="text" name="cost" value="<%= sprintf('%.2f', @expense.cost) %>">
  <input type="submit" value="Edit">
</form>