<form method="POST" action="/expenses">
  <label for="category">Expense:</label>
  <input type="text" name="category"><br>
  <label for="cost">$</label>
  <input type="text" name="cost" value="0.00"><br>
  <input type="submit" value="Create Expense">
</form>