<form method="POST" action="/expenses">
  <label for="category">Expense:</label>
  <input type="text" name="category"><br>
  <label for="cost">Monthly Cost: $</label>
  <input type="text" name="cost"><br>
  <input type="submit" value="Create Expense">
</form>