<h3><%= @expense.category %> - $<%= sprintf('%.2f', @expense.cost).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\1,').reverse %><br></h3>
<!-- Converts cost into string, reverses said string, adds a comma after every 3 digits that is followed by another digit, re-reverses string -->

<% if authorized?(@expense) %>

<p><a href="/expenses/<%= @expense.id %>/edit">Edit</a><br></p>

<p>
<form action="/expenses/<%= @expense.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
</p>

<% end %>