<form method="POST" action='/login'>
  <h3>Enter Your Login Info!</h3>
  <label for="email">Email: </label>
  <input type="text" name="email">
  <label for="password">Password: </label>
  <input type="password" name="password">
  <input type="submit" value="Log in">
</form>
<br><br><br>
<h3>Not signed up yet?</h3>

<a href="/signup">Sign up here!</a>